*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  line-height: calc(1em + 0.325rem);
  -webkit-font-smoothing: antialiased;
  overflow-wrap: anywhere;
  min-width: 0;
}
html, body {
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
}
html {
  font-size: 0.0625em; /* based on common 16px browser default */
}
body {
  font-size: 16rem; /* this is like 16px, but accessible (can zoom-in/out using browser settings) */
}
button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
input, button, textarea, select {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
i {
  font-style: normal;
}
iframe {
  display: block; /* inline by default */
}
@media (inverted-colors: inverted) {
  /* styles to apply if inversion of colors is detected */
  img, video, iframe, svg {
    filter: invert(1)
  }
}
